.signup-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
  
    .form-group {
      margin-bottom: 15px;
      
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
      }
  
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      .error-messages {
        small {
          color: red;
          display: block;
          margin-top: 5px;
        }
      }
    }
  
    .submit-btn {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      transition: background-color 0.3s;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
      &:not(:disabled):hover {
        background-color: #0056b3;
      }
    }

    .password-container {
      position: relative;
    
      .toggle-password {
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    
        mat-icon {
          color: #a0a0a0; 
        }
    
        &:hover mat-icon {
          color: #808080; 
        }
      }
    }
    
  }
  