<div class="dashboard-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>Dashboard</span>
    <button mat-button color="warn" class="logout-btn" (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="dashboard-content">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Gestão de Usuários</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Acesse as funcionalidades relacionadas aos usuários, como listar, adicionar ou editar.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateToUsers()">Gerenciar Usuários</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Gestão de Carros</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Acesse as funcionalidades relacionadas aos carros, como listar, adicionar ou editar.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateToCars()">Gerenciar Carros</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
